.container {
    /*display: flex;*/
    padding: 1em;
    background:1px silver;
    border: 1px black;
    border-radius: 0.5em;
    display: flex;
    
}

.container .item {
    width: 30%;
    border: 1px solid black;
    border-radius: 0.5em;
    padding: 0.1em;

}